@model Dictionary<string, object>
@{
    ViewBag.Title = "Главная";
}


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Пользователь</div>
        <table class="table table-condensed table-bordered">
            @foreach (string key in Model.Keys)
            {
                <tr>
                    <th>@key</th>
                    <td>@Model[key]</td>
                </tr>
            }
        </table>
    </div>
</div>
